# [WARNING] Except this config file, neither other files or scripts are allowed to use hardcoded values
# - If this file is modified, make sure to have a backup in case of data loss
# - Any change of one or more value of a variable added here (e.g. with sed) must update everything

# IDENTITY VALUES
PASS_MIN_LENGTH=12
PASS_MAX_DAYS=90
FAIL_LOCK_ATTEMPTS=5
UNLOCK_TIME=300
ONLY_GROUPS_ALLOWED="sudo wheel holbie_session nobody"

# NETWORK VALUES
PORT_NUMBER_SSH=22

# SSH VALUES
# NO VARIABLE REQUIRED

# SYSTEM VALUES
TOOLS_REMOVED="telnet ftp netcat-traditional"
TOOLS_INSTALL="auditd fail2ban"
